/* style.css */
body {
  margin: 0;
  padding: 0;
  background-color: #262525; /* Example background color */
 cursor: none;
}

canvas {
  display: block; /* Removes the margin below the canvas */
  cursor: none; /* Hides the default cursor */
}