/* style.css */
body {
  margin: 0;
  padding: 0;
  background-color: #808080; /* Example background color */
}

canvas {
  display: block; /* Removes the margin below the canvas */
  cursor: none; /* Hides the default cursor */
}